/*
==================================================================================================================================== 
GERAL
==================================================================================================================================== 
*/

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    background-color: #fff;
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #21243D;
    text-decoration: none;
}

p {
    line-height: 130%;
}

section h2 {
    text-align: center;
}

img {
    max-width: 100%;

}

/*
====================================================================================================================================
ESPECIFICO
==================================================================================================================================== 
*/
header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: ;
}

section.banner {
    text-align: center;
    padding: 0 5% 0 5%;

}

section.banner h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}

section.banner p button {
    background-color: #FF6464;
    border: none;
    color: #fff;
    display: inline-block;
    margin: 10px 0 50px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

section.posts {
    background-color: #EDF7FA;
    padding: 10px;
}

section.posts h2 {
    text-align: center;
    margin: 15px;
}

section.posts ul li {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 12px 10px 12px 10px;
}

section ul li h3 {
    font-weight: bold;
    font-size: 1.1rem;
}

section ul li p {
    margin: 15px 0px 15px 0px;
}

section.works {
    padding: 20px 10px 20px 10px;  
}

section.works ul li {
    margin: 15px 0;
}

section.works li h3 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 130%;
    margin: 10px 0 0 0;
}

section.works ul li p. {
    margin: 10px 0;
}

section.works ul li p.info {
    color: #142850;
}

section.works ul li p.info span {
    color: white;
    background-color: #142850;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 20px;
}

section.works ul {
    border-bottom: 1px solid #8695a4;
}

footer {
    text-align: center;
    margin: 0 0 25px 0;
}

footer a {
    font-size: 2.3rem;
    margin: 10px 15px;
}


/*
====================================================================================================================================
ESPECIFICO FT-WORKS.HTML
==================================================================================================================================== 
*/

header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: ;
}

section.dashb {
    background-color: white;
    padding: 10px;
}

section.dashb h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 10px 0 10px 0;
}

section.dashb h2 {
    text-align: center;
    margin: 15px;
}

section.dashb p {
    margin: 15px 0 ;
}

section.dashb p.info span {
    color: white;
    background-color: #FF7C7C;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 20px;
}


